In [3]:
s=input("enter a string:")
i=0
count=0
sum=0
while i<len(s):
    if s[i].isdigit():
        count+=1
        sum+=int(s[i])
    i+=1
print("count is:",count,"no of characters:",sum)

enter a string:python123go456good789
count is: 9 no of characters: 45

In [10]:
#for loop
n=int(input("enter a number:"))
for i in range(1,n+1):
        print(i,end=" ")

enter a number:10
1 2 3 4 5 6 7 8 9 10

In [19]:
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

# collection type datatype
## list:

1. for creating a list use []
2. list are mutable
3. list are indexed
4. list are ordered 
5. list allows duplicate values
6. list stores heterogenous values

In [31]:
list=[23,34,56,78,89,"string",True,[1,2,3,]]
print(list[-1])
print(list[2:4])
print(list[-3][::-1])
print(list[-1][-1])

[1, 2, 3]
[56, 78]
gnirts
3

In [33]:
# manipulating a list
## 1.adding elements
list1=[24,35,56,78]
print("print elements before append:",list1)
list1.append(100)
list1.append(59)
list1.append(61)
print("print elements after append:",list1)

print elements before append: [24, 35, 56, 78]
print elements after append: [24, 35, 56, 78, 100, 59, 61]

In [38]:
## insert is used to insert in between
list1.insert(4,77)
print(list1)

[24, 35, 56, 78, 77, 77, 77, 77, 77, 100, 59, 61]

In [39]:
## extend is used to add multiple values inside a list
list1.extend([4,5,6])
print(list1)

[24, 35, 56, 78, 77, 77, 77, 77, 77, 100, 59, 61, 4, 5, 6]

In [45]:
#remove elements from the list
list1.pop(5)
print(list1)
list1.remove(61)
print(list1)

[24, 35, 56, 78, 77, 59, 61, 4, 5]
[24, 35, 56, 78, 77, 59, 4, 5]

In [48]:
#clear all elementsin list
list3=[1,2,3,4]
list3.clear()
print(list3)

[]

In [49]:
#replace elements
list1[2]=45
print(list1)

[24, 35, 45, 78, 77, 59, 4, 5]

In [56]:
#sorting a list
list4=[24,56,7,68,79,2,67]
list4.sort()
print(list4)
list4.sort(reverse=True)
list4

[2, 7, 24, 56, 67, 68, 79]

[79, 68, 67, 56, 24, 7, 2]

In [57]:
#reversing a list
list1=[42,55,545,154,45,22]
list1.reverse()
list1

[22, 45, 154, 545, 55, 42]

In [58]:
#to list the position of an element in a list
list1.index(545)

3

In [59]:
list2=list1.copy()
print(list2)

[22, 45, 154, 545, 55, 42]

In [72]:
#square of numbers in a list
list5=[2,4,5,7,8]
list6=[]
list7=[]

for i in range(0,len(list5)): #with range
    list6.append(list5[i]**2)
print(list6)

for i in list5: #without range
    list7.append(i**2)
print(list7)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [79]:
#even numbers in a list
l1=[2,3,4,5,6,7]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

[2, 4, 6]

In [8]:
#sum of values in a list
n=[]
z=int(input("enter list:"))
for i in range(z):
    n.append(int(input()))
a=sum(n)
print("the result is:",a)

enter list:3
1
2
3
the result is: 6

In [12]:
##tuple
z=13,34,56,23,10
print(z)
print(type(z))

(13, 34, 56, 23, 10)
<class 'tuple'>

In [13]:
tup=(23,4,56)
x,y,x=tup
print(tup)

(23, 4, 56)

## dictionary
## syntax :(key1:value1,key2:value2,.....)
key:
 1.key should be unique
 2.keys should be immutable --> int,float,string,tuple

In [16]:
dic1={"name":"preethi","course":"python","address":"hyd"}
dic1["course"]

'python'

In [17]:
#replace
dic1["course"]="java"
print(dic1)

{'name': 'preethi', 'course': 'java', 'address': 'hyd'}

In [18]:
#adding
dic1["college"]="gitam"
print(dic1)

{'name': 'preethi', 'course': 'java', 'address': 'hyd', 'college': 'gitam'}

In [20]:
#remove
del dic1["address"]
print(dic1)

{'name': 'preethi', 'course': 'java', 'college': 'gitam'}

# Function
## def name_of_the_function(arg list)
##        statements
##        return

In [22]:
def add(x,y): #function definition
    print(x+y)
print(add(10,20))#function calling
print(add(100,200))

30
None
300
None

In [24]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(square(2))
print(cube(3))

4
27

In [25]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [26]:
for i in [1,2,3,4][::-1]:
    print(i)

4
3
2
1